<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="DomicilioDB" connectionString="metadata=res://*/Models.DomicilioDB.csdl|res://*/Models.DomicilioDB.ssdl|res://*/Models.DomicilioDB.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost;PASSWORD=a123456;PERSIST SECURITY INFO=True;USER ID=LUCHO&quot;" providerName="System.Data.EntityClient" />
    <add name="ComunicacionesDB" connectionString="metadata=res://*/Models.ComunicacionesDB.csdl|res://*/Models.ComunicacionesDB.ssdl|res://*/Models.ComunicacionesDB.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost;PASSWORD=a123456;PERSIST SECURITY INFO=True;USER ID=LUCHO&quot;" providerName="System.Data.EntityClient" />
    <add name="PersonaDB" connectionString="metadata=res://*/Models.PersonaDB.csdl|res://*/Models.PersonaDB.ssdl|res://*/Models.PersonaDB.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost;PASSWORD=a123456;PERSIST SECURITY INFO=True;USER ID=LUCHO&quot;" providerName="System.Data.EntityClient" />
    <add name="PersonaJuridicaDB" connectionString="metadata=res://*/Models.PersonaJuridicaDB.csdl|res://*/Models.PersonaJuridicaDB.ssdl|res://*/Models.PersonaJuridicaDB.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost;PASSWORD=a123456;PERSIST SECURITY INFO=True;USER ID=LUCHO&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>