@model  CursosVista
@{
    ViewBag.Title = "SGC - Gobierno de Córdoba - Cursos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Stylesheets {
    @Content.Stylesheet("css/cursos.css", Url)
}

<div id="titulo">
    <div id="ttxt">
        Cursos
    </div>
    <div id="iconobuscar">
        @Html.ActionLink("Buscar", "", "",  new { @class = "btngral" })
    </div>
    <div id="iconomodificar">
        @Html.ActionLink("Nuevo", "Agregar", "Cursos",null, new { @class = "btngral" })
    </div>
</div>
<div id="DivInstituciones">
  @Html.Partial("_CursosLista", Model.ListaCursos)
</div>
