@model CbaGob.Alumnos.Servicio.VistasInterface.ICursosVista
@{
    ViewBag.Title = "SGC - Gobierno de Córdoba - Cursos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Modificar_Cursos", "Cursos", FormMethod.Post, new { Id = "FormularioCursos" }))
{ 
    <div id="titulo">
        <div id="ttxt">
            Modificar Curso</div>
    </div>
    <table>
        <tr>
            <td>
                Nombre
            </td>
            <td>
                @Html.TextBoxFor(c => c.N_CURSO, new { style = "width:200px;", MaxLength = "50", Class = "asd" })
            </td>
        </tr>
         <tr>
            <td>
                Nro Resolucion
            </td>
            <td>
               @Html.TextBoxFor(c => c.NRORESOLUCION, new { style = "width:200px;", MaxLength = "50", Class = "asd" })
            </td>
        </tr>
    </table>
    @Html.HiddenFor(d => d.ID_CURSO)
    <p>
        <input type="submit" value="Guargar" />
        @Html.ActionLink("Cancelar", "Index", "Cursos")
    </p>
}
<script type="text/javascript">
    $(document).ready(function () {


    });
</script>
