@model  InstitucionVista
            
@{
    ViewBag.Title = "SGC -- Gobierno de Córdoba -- Instituciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
     <div id="titulo">
        <div id="ttxt">Instituciones</div>
        <div id="iconobuscar">
        	<a class="Ntooltip" href="#">
                <img src=@Content.ImageSite("10_.png", Url)  width="25" height="25" border="0" alt="BUSCAR"/><span> BUSCAR </span>
            </a>
        </div>
      <div id="iconomodificar" style="width:30px; height:25px; float:right;">
      	@*<a class="Ntooltip" href="Instituciones_new.html">*@
        @Html.ActionLink("NUEVO", "Agregar", "Instituciones")
        @*<img src=@Content.ImageSite("8_.png", Url)  width="25" height="25" border="0" alt="NUEVO"/><span> NUEVO </span>*@       @* </a>  *@    </div>
    </div>
    <div id="buscar" style="width:360px; height:40px; padding:0 0 0 45px; display:none; font-size: 14px; font-family: arial, sans-serif; font-weight:bold;"> 
      <form action="" method="post">
       <div style="padding:5px; height:40px;">
       Buscar Institución:  <input name="cur_nom" type="text" /> Buscar
      <!--<span style="position:absolute; float:left; width:25px; height:25px; left: 360px; top: 226px;">
       <img src="images/10_.png" width="25" height="25" />--><!--</span>-->     
       </div>
      
      </form>
    </div>
<div id="DivInstituciones">
    @Html.Partial("_InstitucionesLista", Model.ListaInstituciones)
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#iconobuscar").click(function (event) {
            $("#buscar").slideToggle(1000);
        });
    });
</script>
