<?xml version="1.0"?>
<configuration>
  <connectionStrings>   
    <add name="CursosDB" connectionString="metadata=res://*/Models.CursosDB.csdl|res://*/Models.CursosDB.ssdl|res://*/Models.CursosDB.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost;PASSWORD=a123456;PERSIST SECURITY INFO=True;USER ID=CURSOS&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
</configuration>
