* {
	margin:0px;
	padding:0px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #f3f3f3;
}
p {
	margin: 10px;
}
#todo {
	position:absolute;
	top: 50%;
	left: 50%;
	width:1000px;
	height:650px;
	margin-top: -340px;
	margin-left: -500px;
	border: 1px solid #ccc;
	background-color: #fff;
}
#cabecera {
	padding-left:0px;
	width:1000px;
	height:100px;
	background-image:url(../images/Bg_encabezado.jpg);
}
#contenido {
	padding:2px 0px 10px 0px;
	width:1000px;
	background-color:#fff;
	height:auto;
}
#titulo {
width:975px;
height:32px;
background-color:#D9C75E;
margin:5px 5px 8px;
padding:5px 0 0 15px;
}

#ttxt {
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:700;
width:250px;
float:left;
padding-top:5px;
}

#icononuevo {
width:30px;
height:25px;
float:right;
}

#iconobuscar {
cursor:pointer;
width:30px;
height:25px;
float:right;
}

#nav{
	width:994px;
	height:26px;
	padding:3px;
	background-color:#ccc;
}
#menu{
	padding:3px;
	width:600px;
	height:26px;
}
#usu{
	width:300px;
	height:30px;
	float:right;
	top:104px;
	left:695px;
	position:absolute;
	font-size: 14px;
	font-family: arial, sans-serif;
}
#pie {
	padding:10px;
	width:980px;
	height:60px;
	background-image:url(../images/Bg_pie.jpg);
	background-repeat:no-repeat;
	background-position:top;
}
#Copy {
	font-size: 10px;
	font-family: arial, sans-serif;
	list-style-type: none;
	color: #000;
	margin-bottom: 10px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	padding-top:40px;
	text-align:center;
}

#mytable{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:0px;
	margin:0px;
}
#myIntituciones{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:0px;
	margin:0px;
}
#mybusqueda{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:0px;
	margin:0px;
}
th {
	background: #3e83c9;
	color: #fff;
	font-weight: bold;
	padding: 2px 11px;
	text-align: left;
	border-right: 1px solid #fff;
	line-height: 1.2;
}

td {
	padding: 6px 11px;
	border-bottom: 1px solid #95bce2;
	vertical-align: top;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

td * {
	padding: 6px 11px;
}

tr.alt td {
	background: #ecf6fc;
}

tr.over td, tr:hover td {
	background: #bcd4ec;
}
/*pag*/
ul{border:0; margin:0; padding:0;}

#pagination-clean li{
border:0; margin:0; padding:0;
font-size:11px;
list-style:none;
}
#pagination-clean li, #pagination-clean a{
margin-right:2px;
}
#pagination-clean .previous-off,
#pagination-clean .next-off {
color:#888888;
display:block;
float:left;
font-weight:bold;
padding:3px 4px;
}
#pagination-clean .next a,
#pagination-clean .previous a {
font-weight:bold;
}
#pagination-clean .active{
color:#000000;
font-weight:bold;
display:block;
float:left;
padding:4px 6px;
}
#pagination-clean a:link,
#pagination-clean a:visited {
color:#fff;
display:block;
float:left;
padding:3px 6px;
text-decoration:none;
}
#pagination-clean a:hover{
text-decoration:none;
}
/**/
a.Ntooltip {
position: relative; 
text-decoration: none !important; 
color:#0080C0 !important; 
font-weight:bold !important; 
width:25px;
height:25px;
float:right;
background-image:url(../images/8_.png);
}

a.Ntooltip:hover {
z-index:999; /* va a estar por encima de todo */
background-color:#000000; /* DEBE haber un color de fondo */
}

a.Ntooltip span {
display: none; /* el elemento va a estar oculto */
}

a.Ntooltip:hover span {
display: block; /* se fuerza a mostrar el bloque */
position: absolute; /* se fuerza a que se ubique en un lugar de la pantalla */
top:-30px; left:-1px; /* donde va a estar */
width:auto; /* el ancho por defecto que va a tener */
padding:2px; /* la separación entre el contenido y los bordes */
background-color: #0080C0; /* el color de fondo por defecto */
color: #FFFFFF; /* el color de los textos por defecto */
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
}
a.btnIngresar {
   text-decoration: none;
   background: #3e83c9;
   border: 1px outset #CCC;
   padding: 5px 12px;
   color : #000;
   text-transform : uppercase;
   font-size: 12px;
   font-family : arial, sans-serif;
   font-weight : bold;
}
a.btnIngresar:hover {
   background: #bcd4ec;
}
a.btnIngresar:active {
   border: 1px inset #000;
}
.linkagregar{
   text-decoration: none;
   font-size: 12px;
   font-family : arial, sans-serif;
   font-weight : bold;
}