* {
margin:0;
padding:0;
}

body {
background-color:#f3f3f3;
margin:0;
font-size: 70%;
font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}
table {
	font-size: 2em;
}

p {
margin:10px;
}

#todo {
position:absolute;
top:50%;
left:50%;
width:1000px;
height:520px;
margin-top:-260px;
margin-left:-500px;
border:1px solid #ccc;
background-color:#fff;
}

#cabecera {
padding-left:0;
width:1000px;
height:100px;
background-image:url(images/Bg_encabezado.jpg);
}

#contenido {
width:1000px;
height:900px;
background-color:#fff;
padding:2px 0 10px;
}

#nav {
width:994px;
height:26px;
background-color:#ccc;
padding:3px;
}

#menu {
width:600px;
height:26px;
padding:3px;
}

#usu {
width:300px;
height:30px;
float:right;
top:104px;
left:695px;
position:absolute;
font-size:14px;
font-family:arial, sans-serif;
}

#pie {
width:980px;
height:60px;
background-image:url(images/Bg_pie.jpg);
background-repeat:no-repeat;
background-position:top;
padding:10px;
}

#Copy {
font-size:10px;
font-family:arial, sans-serif;
list-style-type:none;
color:#000;
margin-bottom:10px;
font-weight:700;
text-transform:uppercase;
display:block;
padding-top:40px;
text-align:center;
}
/*---- Menu----*/
ul {
	font-family: Arial, Verdana;
	font-size: 14px;
	margin: 0;
	padding: 0;
	list-style: none;
}
ul li {
	display: block;
	position: relative;
	float: left;
}
li ul {
	display: none;
}
ul li a {
	display: block;
	text-decoration: none;
	color: #ffffff;
	padding: 5px 15px 5px 15px;
	background: #416AA0;
	margin-left: 1px;
	white-space: nowrap;
}
ul li a .sub {
	background:#8BA9D0;
}
ul li a:hover {
	background: #B2C8DA;
	color: #000;
}
li:hover ul {
	display: block;
	position: absolute;
}
li:hover li {
	float: none;
	font-size: 12px;
}
li:hover a {
	background: #617F8A;
}
li:hover li a:hover {
	background: #95A9B1;
}
/*---*/

/*---*/
