@model  DocentesVista
@{
    ViewBag.Title = "SGC - Gobierno de Córdoba - Docentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="titulo">
    <div id="ttxt">
        Docentes</div>
     <div id="iconobuscar">
        @Html.ActionLink("Buscar", "", "",  new { @class = "btngral" })
    </div>
    <div id="iconomodificar">
       @Html.ActionLink("Nuevo", "Agregar", "Docentes", null, new { Class = "btngral" })
    </div>
</div>
<div id="DivDocentes">
    @Html.Partial("_DocentesLista", Model.ListaDocentes)
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />