@model EquiposVista
@{
    ViewBag.Title = "Equipamientos";
    ViewBag.SubMenuSelected = "Equipos";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Equipos.js", Url)
}
@section Stylesheets {
    @Content.Stylesheet("css/instituciones.css", Url)
}
<div class="box">
    <h2>
        Listado de Equipos</h2>
    <table>
        <tr>
            <td class="style1" style="font-weight: bold">
                <div id="titulo">
                </div>
                <div id="DivSuperviciones">
                    @Html.Partial("_EquiposLista", Model)
                </div>
            </td>
        </tr>
    </table>
</div>
