@model  CargosVista           
@{
    ViewBag.Title = "Instituciones";
    ViewBag.SubMenuSelected = "Cargos";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
@section Stylesheets {
    @Content.Stylesheet("css/instituciones.css", Url)
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Cargos.js", Url)
}
<div class="box">
    <h2>
        Listado de Cargos</h2>
    <table>
        <tr>
            <td class="style1" style="font-weight: bold">
                <div id="titulo">
                </div>
                <div id="DivInstituciones">
                    @Html.Partial("_CargosLista", Model)
                </div>
            </td>
        </tr>
    </table>
    <div style="text-align: left;">
        @using (Html.BeginForm("IndexPager", "Cargos", FormMethod.Post, new { id = "FormIndexCargos" }))
        {
            @Html.Partial("_Pager", Model.Pager)
        }
    </div>
</div>
