@model FacturasVista
@{
    ViewBag.Title = "Facturaciones";
    ViewBag.SubMenuSelected = "Facturacion";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Factura.js",Url)
}
@section Stylesheets {
    @Content.Stylesheet("css/instituciones.css", Url)
}
<div class="box">
    <h2>
        Listado de Facturas</h2>
    <table>
        <tr>
            <td class="style1" style="font-weight: bold">
                <div id="titulo">
                </div>
                <div id="DivSuperviciones">
                     @Html.Partial("_FacturaLista", Model)
                </div>
            </td>
        </tr>
    </table>
</div>