@model  AlumnosVista
@{
    ViewBag.Title = "SGC - Gobierno de Córdoba - Alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="titulo">
    <div id="ttxt">
        Alumnos</div>
     <div id="iconobuscar">
        @Html.ActionLink("Buscar", "", "",  new { @class = "btngral" })
    </div>
    <div id="iconomodificar">
       @Html.ActionLink("Nuevo", "Agregar", "Alumnos", null, new { Class = "btngral" })
    </div>
</div>
<div id="DivDocentes">
    @Html.Partial("_AlumnosLista", Model.ListaAlumno)
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
