@{
    //ViewBag.Title = "Login";
    ViewBag.Title = "Index";
    ViewBag.SubMenuSelected = "Index";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
<div class="right">
    <table align=left>
        <tr>
            <td>
                <br />
                <br />
                <br />
                <br />
                <br />
                @Html.Image("Logo Agencia.jpg", new { width = "498", height = "217", alt = "" })
            </td>
        </tr>
    </table>
</div>
