@{
    ViewBag.Title = "Ayuda";
    ViewBag.SubMenuSelected = "Instituciones";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
<div class="box">
    <h2>
        Ayuda de Instituciones</h2>
    <a href="../../Content/flash/dario.swf" target="_blank">Como Crear una Institución</a>
</div>
