@model UsuarioVista
@section Scripts{
@*@Content.Script("xxxxx.js",Url)*@

}
@section Stylesheets{
@*@Content.Stylesheet("xxxxxx.css", Url)*@
}
@{
    ViewBag.Title = "Index";
}
<h2>
    Index Usuario</h2>
@using(Ajax.BeginForm("Buscar",new AjaxOptions(){HttpMethod = "POST",InsertionMode = InsertionMode.Replace,UpdateTargetId = "UsuariosLista"}))
{
    <p> Dni:
    @Html.RadioButtonFor(c => c.SearchByDni, "True", Model.SearchByDni ? new { Checked = "checked" } : null)
    @Html.TextBoxFor(c=>c.Dni)
    </p>
    <p>
    Nombre:
    @Html.RadioButtonFor(c => c.SearchByDni, "False", Model.SearchByDni==false ? new { Checked = "checked" } : null)
    @Html.TextBoxFor(c=> c.Nombre)
    </p>
    <input type="submit" value="Buscar"/>
}

<div id="UsuariosLista">

</div>
