@model CbaGob.Alumnos.Servicio.VistasInterface.ICursosVista
@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Eliminar_Cursos", "Cursos", FormMethod.Post, new { Id = "FormularioCursos" }))
{ 
    <div id="titulo" style="width: 900px; height: 30px; padding: 10px 5px 0 5px; font-family: Arial, Helvetica, sans-serif;
        font-size: 16px; font-weight: bold;">
        Eliminar Curso</div>
    <table>
        <tr>
            <td>
                Nombre
            </td>
            <td>
                @Html.TextBoxFor(c => c.N_CURSO, new { disabled = "disabled", style = "width:200px;", MaxLength = "50", Class = "asd" })
            </td>
        </tr>
      
    </table>
    @Html.HiddenFor(d => d.ID_CURSO)
    <p>
        <input id="Eliminar" type="button" value="Eliminar" />
        @Html.ActionLink("Cancelar", "Index", "Cursos")
    </p>
}
<div id="dialog" title="Eliminar">
    <p>
        Esta Seguro de Eliminar?</p>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('#dialog').dialog({
            autoOpen: false,
            width: 350,
            modal: true,
            resizable: false,
            buttons: {
                "Ok": function () {
                    var f = $("#FormularioCursos");
                    $("#FormularioCursos").submit()
                    $(this).dialog("close");
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $('#Eliminar').click('click', function () {
            $('#dialog').dialog("open");
        });


    });
</script>
