@model  DocentesVista
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="titulo" style="width: 900px; height: 30px; padding: 10px 5px 0 5px; font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; font-weight: bold;">
    Docentes</div>

<div id="DivDocentes">
    @Html.Partial("_DocentesLista", Model.ListaDocentes)
</div>
