@model  EstablecimientosVista
@{
    ViewBag.Title = "SGC - Gobierno de Córdoba - Establecimientos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="titulo">
    <div id="ttxt">
        Establecimientos</div>
     <div id="iconobuscar">
        @Html.ActionLink("Buscar", "", "",  new { @class = "btngral" })
    </div>
    <div id="iconomodificar">
       @Html.ActionLink("Nuevo", "Agregar", "Establecimientos", null, new { Class = "btngral" })
    </div>
</div>
<div id="DivInstituciones">
    @Html.Partial("_EstablecimientoLista", Model)
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />