@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Error";
}

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div style="font-family: Arial, Helvetica, sans-serif;
                        font-size: 20px; text-align:center; color: red;" >
Lo sentimos un error ocurrio en la Aplicacion.
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
