@model  GruposVista
@{
    ViewBag.Title = "SGC - Gobierno de Córdoba - Grupos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Grupos.js",Url)
}
<div id="titulo">
    <div id="ttxt">
        Grupos</div>
     <div id="iconobuscar">
        @Html.ActionLink("Buscar", "", "",  new { @class = "btngral" })
    </div>
    <div id="iconomodificar">
       @Html.ActionLink("Nuevo", "Agregar", "Grupos", null, new { Class = "btngral" })
    </div>
</div>
<div id="DivInstituciones">
@Html.Partial("_GrupoLista", Model)
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />