@model  InstitucionVista           
@{
    ViewBag.Title = "SGC - Gobierno de Córdoba - Instituciones";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
@section Stylesheets {
    @Content.Stylesheet("css/instituciones.css", Url)
}
@section Scripts{
    @Content.Script("CbaGob.Alumnos.Instituciones.js",Url)
}
<div class="box">
  <h2>Listado de Institucion</h2>
    <table>
        <tr>
            <td class="style1" style="font-weight: bold">
                <div id="titulo">
                    
                </div>
                <div id="DivInstituciones">
                    @Html.Partial("_InstitucionesLista", Model.ListaInstituciones)
                </div>
            </td>
        </tr>
    </table>
</div>


