@model  InstitucionVista           
@{
    ViewBag.Title = "SGC - Gobierno de Córdoba - Instituciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="titulo">
    <div id="ttxt">
        Instituciones</div>
    <div id="iconobuscar">
        @Html.ActionLink("Buscar", "", null, new { @class = "btngral" })
    </div>
    <div id="iconomodificar">
        @Html.ActionLink("Nuevo", "Agregar", "Instituciones",null, new { @class = "btngral" })
    </div>
</div>
<div id="buscar" style="width: 360px; height: 40px; padding: 0 0 0 45px; display: none;
    font-size: 14px; font-family: arial, sans-serif; font-weight: bold;">
    <form action="" method="post">
    <div style="padding: 5px; height: 40px;">
        Buscar Institución:
        <input name="cur_nom" type="text" />
        Buscar
    </div>
    </form>
</div>
<div id="DivInstituciones">
    @Html.Partial("_InstitucionesLista", Model.ListaInstituciones)
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#iconobuscar").click(function (event) {
            $("#buscar").slideToggle(1000);
        });
    });
</script>
