@model InventarioVista
@{
    ViewBag.Title = "Equipamientos";
    ViewBag.SubMenuSelected = "Inventarios";
    Layout = "~/Views/Shared/_MasterSGC.cshtml";
}
@section Stylesheets {
    @Content.Stylesheet("css/instituciones.css", Url)
}
<div class="box">
    <h2>
        Inventario</h2>
    @using (Html.BeginForm("Agregar_Institucion", "Instituciones", FormMethod.Post, new { Id = "FormularioInstituciones" }))
    {
        <fieldset style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; width: 700px;
            text-align: center;">
            <legend>Datos del Inventario:</legend>
            <table>
                <tr>
                    <td class="style1" style="font-weight: bold">
                        <div id="titulo">
                        </div>
                        <div id="DivSuperviciones">
                            @Html.Partial("_EquiposLista", Model)
                        </div>
                    </td>
                </tr>
            </table>
        </fieldset>
    }
</div>
