<table>
    <tr>
        <td>
            Datos del Alumno:
        </td>
        <td>
            <input id="buscaralumnotxt" type="text"/><input id="buscaralumnobtn" type="button" value="Buscar"/>    
        </td>
    </tr>
</table>
<div id="buscadorpopup" title="Buscador Alumnos">
    <table id="tablaalumno">
        <tr>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Dni</td>
            <td>Nombre</td>
            <td>Cuil</td>
        </tr>
    </table>
</div>
