<div id="resumenPag" style="height: 20px; padding: 10px 5px 0 2px;">
    <div align="center">
        <ul id="pagination-clean">
            <li class="previous-off">Ant</li>
            <li class="active">1</li>
            <li><a href="?page=2">2</a></li>
            <li><a href="?page=3">3</a></li>
            <li><a href="?page=4">4</a></li>
            <li><a href="?page=5">5</a></li>
            <li><a href="?page=6">6</a></li>
            <li><a href="?page=7">7</a></li>
            <li class="next"><a href="?page=2">Sig</a></li>
        </ul>
    </div>
</div>
