@{
    Layout = null;
}
<div id="CondicionCursoDialog" title="Buscar en Catálogo de Especialidades">
    @using (Ajax.BeginForm("BuscarCondicion", "CondicionesCurso", new AjaxOptions() { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "CondicionCursoLista" }))
    {
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                   <input type="radio" name="radioCC" checked="checked" id="radioInstitucion" />  Institucion:
                </td>
                <td>
                    <input type="text" name="institucion" id="institucion" />
                </td>
            </tr>
            <tr>
                <td>
                   <input type="radio" name="radioCC" id="radioCurso"  /> Curso:
                </td>
                <td>
                    <input type="text" name="curso" id="curso" />
                </td>
            </tr>
            @*<tr>
                <td>
                    Nivel:
                </td>
                <td>
                    <input type="text" name="nivel" />
                </td>
            </tr>*@
            <tr>
                <td>
                  <input type="radio" name="radioCC"  id="radioPrograma"  />  Programa:
                </td>
                <td>
                    <input type="text" name="programa" id="programa" />
                </td>
            </tr>
            <tr>
                <td>
                    Año Inicio:
                </td>
                <td>
                    <input type="text" name="ano" value="@(DateTime.Today.Year)" />                   
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Buscar" />
                </td>
            </tr>
        </table>
      }
    <table id="CondicionCursoLista">
    </table>
</div>
